@import url('https://fonts.googleapis.com/css?family=Muli');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
div {
    margin: 0;
    padding: 0;
}
body {
    width: 620px;
    margin: 85px auto;
    font-size: 19px;
    background: #eff3f3;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
#game-container {
    display: flex;
}
#game-grid {
    flex: 0 0 auto;
    display: block;
    position: relative;
    margin: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: 0;
    border: 2px solid #e6e8e8;
}
#game-stats {
    flex: 1;
    padding-top: 13%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    font-size: 0;
    background-color: #e6e8e8;
    color: #999a9a;
}
#game-stats h3 {
    font-size: 23px;
    color: #666;
}
#game-next-block {
    display: inline-block;
    font-size: 0;
    border: 1px solid #dee0e0;
}
#game-next-block .grid-cell {
    height: 20px;
    width: 20px;
    border: 1px solid #dee0e0;
}
#game-next-block, .game-all-time {
    margin-bottom: 23px;
}
.game-stat-title {
    margin-bottom: 10px;
    font-size: 15px;
    font-variant: small-caps;
    text-transform: lowercase;
}
.game-stat {
    font-size: 15px;
    margin-bottom: 7px;
}
.inline {
    font-size: 16px;
    display: inline;
    color: #666;
}
.button {
    cursor: pointer;
    padding: 8px 28px 10px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 20px;
    background: #dee0e0;
    background: rgba(222, 224, 224, 0.7);
    color: #999a9a;
}
.button:hover {
    color: #858787;
}


#grid-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 16px;
    text-align: center;
    background-color: rgb(230, 232, 232);
    background-color: rgba(230, 232, 232, 0.6);
}
#grid-overlay.hidden {
    display: none;
}
#grid-overlay-content {
    position: absolute;
    bottom: 22%;
    width: 100%;
    text-align: center;
}
#grid-overlay-text {
    color: #858787;
    margin-bottom: 30px;
}
.grid-row {
    margin: 0;
    display: block;
}
.grid-cell {
    margin: 0;
    height: 27px;
    width: 27px;
    display: inline-block;
    border: 1px solid #e6e8e8;
}

/* tetris shadow tiles */
.grid-cell-sd-i {
    background-color: rgba(77,208,225,0.18);
    border-color: rgba(38,198,218,0.18);
}
.grid-cell-sd-j {
    background-color: rgba(33,150,243,0.1);
    border-color: rgba(30,136,229,0.1);
}
.grid-cell-sd-l {
    background-color: rgba(255,152,0,0.18);
    border-color: rgba(251,140,0,0.18);
}
.grid-cell-sd-o {
    background-color: rgba(253,216,53,0.18);
    border-color: rgba(251,192,45,0.18);
}
.grid-cell-sd-s {
    background-color: rgba(156,204,101,0.18);
    border-color: rgba(139,195,74,0.18);
}
.grid-cell-sd-z {
    background-color: rgba(186,104,200,0.1);
    border-color: rgba(178,78,195,0.1);
}
.grid-cell-sd-t {
    background-color: rgba(244,67,54,0.1);
    border-color: rgba(229,57,53,0.1);
}

/* tetris tiles */
.grid-cell-i {
    background-color: #4dd0e1;
    border-color: #26c6da !important;
}
.grid-cell-j {
    background-color: #2196f3;
    border-color: #1e88e5 !important;
}
.grid-cell-l {
    background-color: #ff9800;
    border-color: #fb8c00 !important;
}
.grid-cell-o {
    background-color: #fdd835;
    border-color: #fbc02d !important;
}
.grid-cell-s {
    background-color: #9ccc65;
    border-color: #8bc34a !important;
}
.grid-cell-z {
    background-color: #ba68c8;
    border-color: #b24ec3 !important;
}
.grid-cell-t {
    background-color: #f44336;
    border-color: #e53935 !important;
}